<div class="card1">
			<div class="container-fluid">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content ">
                            
                            {{#each productDetails.image_groups}}
                                 {{#ifCond this.view_type "large" }}
                                     {{#if this.variation_value}}
                        
                                     {{else}}
                                        <img src="/{{ this.images.0.link }}"/>
                                      {{/if}}
                                 {{/ifCond}}
                            {{/each}}
                        </div>
                        
                        <ul class="preview-thumbnail nav nav-tabs" >
                            {{#each productDetails.image_groups}}
                            {{#ifCond this.view_type "large" }}
                            {{#if this.variation_value}}
                        
                          {{else}}
                               {{#each this.images}}
                                    <li><a data-target="" data-toggle="tab"><img src="/{{this.link}}" /></a></li>
                               {{/each}} 
                            {{/if}}
                            {{/ifCond}}
                      {{/each}}
                      </ul>
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">{{productDetails.name}}</h3>
						<p class="product-description">{{productDetails.long_description}}</p>
                        {{#if productDetails.price_max}}
                        <h4 class="price" >was: <span style="text-decoration: line-through">${{productDetails.price_max}}</span></h4>
                        {{/if}}
						<h4 class="price">current price: <span>${{productDetails.price}}</span></h4>
                        
                        {{#each productDetails.variation_attributes}}
                            {{#ifCond this.id "size" }}
                            <h5 class="sizes">sizes:
                                {{#each this.values}}
                                    <span class="badge" data-toggle="tooltip" title="{{this.value}}">{{this.value}}</span>
                                {{/each}}
                                </h5>
                            {{/ifCond}}
                        {{/each}}
                        
                        
                        {{#each productDetails.variation_attributes}}
                            {{#ifCond this.id "color" }}
                            <h5 class="colors">colors:
                                {{#each this.values}}
                                    <span class="badge" style="background-color:{{this.name}}; text-shadow: 0 0 3px black;">{{this.name}}</span>
                                {{/each}}
                                </h5>
                            {{/ifCond}}
                        {{/each}}
                        </h5>
						<div class="action">
                            {{!-- <a href="/add-to-cart/{{this.id}}" class="btn btn-light" style="border-color:#ddd" role="button">Add to shopping Cart</a> --}}
							 <a href="/add-to-cart/{{productDetails.id}}" class="add-to-cart btn btn-light" role="button">add to cart</a>
						</div>
					</div>
				</div>
			</div>
		</div>