<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
{{> header }}
<ol class="breadcrumb" style="background-color: white; margin: 0px 50px 0px; text-transform: uppercase;">
  <li class="breadcrumb-item active"><a href='/'>Home</a></li>
  {{#if maincategory}}
  <li class="breadcrumb-item active"><a href='/{{maincategory}}'>{{maincategory}}</a></li>
  {{/if}}
  {{#if categ}}
  <li class="breadcrumb-item active"><a href='/{{maincategory}}/{{categ}}'>{{categ}}</a></li>
  {{/if}}
  {{#if subcategory}}
  <li class="breadcrumb-item active"><a href='/{{maincategory}}/{{categ}}/{{subcategory}}'>{{subcategory}}</a></li>
  {{/if}}
  {{#if product}}
  <li class="breadcrumb-item active"><a href='/{{maincategory}}/{{categ}}/{{subcategory}}/{{productURL}}'>{{product}}</a></li>
  {{/if}}
</ol>
<div class="container">
    {{{body}}}
</div>
{{> footer }}

<script   src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
